.container, .container-fluid{
	width: 1200px !important;
}
.navbar-brand img{
	max-height: 80px;
}
.carousel-inner .carousel-item img{
	max-height: 720px;
	object-fit: cover;
}
.icon img{
	width: 60px;
}