/* CSS Layout */
body{
	/*Background Halaman Web*/
	background-color: #ecf0f1;
}
.wrapper{
	
}
.container{
	width: 1200px;
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;

	/*Background Content*/
	background: #bdc3c7;
}
.sidebar{
	width: 400px;
	height: 600px;
	float: left;
}
.content{
	width: 800px;
	height: 600px;
	float: right;
}
.clear{
	clear: both;
}